.main-container {
border: 1.25px solid #2e2d30;
width: 100%;

}

#col-1, #col-2, #col-3 {
  height: 1100px;
}

#col-1 {
background-color: #eff2f7;
border-right: 1px solid grey;
}

#col-3 {
background-color: white;
color: black;
}

#col-2{
<<<<<<< HEAD
  /* color: white; */
  /* background-color: grey; */
=======
  background-color: black;
  color: white;
>>>>>>> 391f25f368c63c572ec534c23d5c5cbdf5b3132f
}
