.weatherBox {
  border: 2px solid orange;
  height: 500px;
  float: left;
  width: 45%;
  margin: 0 0 0 14.5px;
}

.weatherTempBox {
  padding: 20px;
  border: 2px solid white;
  width: 35%;
  margin:   auto;
  margin-top: 50px;
}

.inputOne {
  color: black;
  float: left;
}

.btn {
  height: 29.2px;
  width: 75px;
  margin: 0px 0 0 5px;
  border-radius: 7px;
  color: black;
}

.form {
  width: 150px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  margin: 15px 0 0 -420px;
  text-align: center;
  color:black

}
