.login {
  border: 3px solid grey;
  padding: 3px;
  margin: 200px 0 0 120px;
  width: 70%;
}

.inputs {
  color: black;
}

.loginBtn {
  margin: 5px 0 0 0;
  color: black;
}

.form {

  text-align: center;
}
